.results {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body {
    background-color: white;
}

.card-project {
    max-width: 320px;
}

.research-card {
    min-width: 350px !important;
    max-width: 350px !important;
    min-height: 350px !important;
    max-height: 350px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-row-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    scroll-behavior: smooth;
}

.problem-statement {
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    background: linear-gradient(black 60%, white 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}