:root {

  /* Colors: */
  --gray-20-hover-cacaca: #CACACA;
  --purple-60-8a3efc: #8A3EFC;
  --blue-20-d0e1ff: #D0E1FF;
  --red-80-740d12: #740D12;
  --gray-30-hover-c6c6c6: #C6C6C6;
  --blue-80-002d9b: #002D9B;
  --red-60-hover-ba1b22: #BA1B22;
  --gray-10-hover-e5e5e5: #E5E5E5;
  --blue-60-hover-0353e9: #0353E9;
  --gray-80-hover-4c4c4c: #4C4C4C;
  --blue-70-044ada: #044ADA;
  --blue-40-77a9ff: #77A9FF;
  --blue-50-4488ff: #4488FF;
  --green-40-41bd64: #41BD64;
  --red-50-fa4d55: #FA4D55;
  --blue-70-0043cd: #0043CD;
  --warning-f0c11b: #F0C11B;
  --green-50-24a047: #24A047;
  --red-60-da1e27: #DA1E27;
  --gray-10-f3f3f3: #F3F3F3;
  --gray-70-515151: #525252;
  --gray-60-6e6e6e: #6E6E6E;
  --gray-40-a7a7a7: #A7A7A7;
  --gray-80-383838: #383838;
  --blue-60-0f61fd: #0F61FD;
  --gray-100-161616: #161616;
  --gray-50-8d8d8d: #8D8D8D;
  --gray-20-e0e0e0: #E0E0E0;
  --white-ffffff: #FFFFFF;
  --background-overlay-161616-50-: #161616;
  
  /* Font/text values */
  --font-family-ibm-plex-sans: IBM Plex Sans;
  --font-style-normal: normal;
  --font-weight-300: 300px;
  --font-weight-600: 600px;
  --font-weight-normal: normal;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-42: 42px;
  --font-size-54: 54px;
  --character-spacing-0: 0px;
  --character-spacing-0-32: 0.32px;
  --character-spacing-0-16: 0.16px;
  --character-spacing-0-08: 0.08px;
  --line-spacing-15: 15px;
  --line-spacing-18: 18px;
  --line-spacing-20: 20px;
  --line-spacing-27: 27px;
  --line-spacing-37: 37px;
  --line-spacing-42: 42px;
  --line-spacing-55: 55px;
  --line-spacing-70: 70px;
  }

@font-face {
  font-family: 'IBM Plex Sans';
  src: local('IBM Plex Sans'), url(./fonts/IBMPlexSans-Regular.ttf), format('truetype');
}

* {
  border-radius: 0 !important;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background: #0F61FD 0% 0% no-repeat padding-box !important;
}

.glob-input {
  background-color: #F3F3F3 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-color: #161616 !important;
}

.categories {
  width: auto !important;
  display: block !important;
  background-color: #F3F3F3 !important;
  border-color: #161616 !important;
}

.nav-item {
  padding: 5px;
}

.searchbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchbar .row {
  margin-top: 20px;
}

.results {
  margin-top: 10px;
  margin-bottom: 10px;
}

.return-to-search {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  background-color: white;
}

.card-project {
  max-width: 320px;
}

.research-card {
  min-width: 350px !important;
  max-width: 350px !important;
  min-height: 350px !important;
  max-height: 350px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-row-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  scroll-behavior: smooth;
}

.problem-statement {
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  background: linear-gradient(black 60%, white 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.rbt-token {
  background-color: #0F61FD;
  border: 0;
  border-radius: .25rem !important;
  color: white;
  display: inline-block;
  line-height: 1em;
  margin: 1px 3px 2px 0;
  padding: 4px 7px;
  position: relative;
}

.rbt-token-removeable {
    cursor: pointer;
    padding-right: 21px;
  }

.rbt-token-remove-button {
    bottom: 0;
    color: white;
    font-size: inherit;
    font-weight: normal;
    opacity: 1;
    outline: none;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: -2px;
  }
.input-tag__tags li {
  align-items: center;
  background: #85A3BF;
  border-radius: 2px;
  color: white;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.margin-5{
  margin-top: 30px;
}

.margin-5 .row {
  margin-top:15px;
}

.spacer {
  margin-bottom: 15px;
}
