.jumbotron {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-left: 10px !important;
}

.breadcrumb{
    left:0;
    right:auto;
}

.text-boxes p {
  outline:1px solid #E0E0E0;
  height:150px;
}

#links{
  height:50px;
}

